<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{ page.title }}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto">
        {% if page.id == 'index' %}
        <a class="scrollto" href="#hero">
          <img class="logo scrollto" src="assets/img/umbrella.png" alt="">BIORAND
        </a>
        {% else %}
        <a class="scrollto" href="/">
          <img class="logo scrollto" src="assets/img/umbrella.png" alt="">BIORAND
        </a>
        {% endif %}
      </h1>
      <nav id="navbar" class="navbar">
        <ul>
          {% if page.id == 'index' %}
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#downloads">Downloads</a></li>
          <!--
          <li><a class="nav-link scrollto" href="#beta">Beta</a></li>
          <li><a class="nav-link scrollto" href="#glossary">Glossary</a></li>
          -->
          {% else %}
          <li><a class="nav-link" href="/#about">About</a></li>
          <li><a class="nav-link" href="/#downloads">Downloads</a></li>
          {% endif %}
          <li><a class="nav-link {% if page.id == 'features' %} active {% endif %}" href="features.html">Features</a>
          </li>
          <li><a class="nav-link {% if page.id == 'strats' %} active {% endif %}" href="strats.html">Strats</a></li>
          <li><a class="nav-link {% if page.id == 'algorithm' %} active {% endif %}" href="algorithm.html">Algorithm</a>
          </li>
          <li><a class="nav-link {% if page.id == 'contributors' %} active {% endif %}"
              href="contributors.html">Contributors</a></li>
          <li><a class="nav-link" href="https://github.com/intelorca/biorand"><i class="bi bi-github"></i></a>
          </li>
          <li><a class="nav-link" href="https://discord.gg/8WAr38Svxd"><i class="bi bi-discord"></i></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
  {{ content }}
  <footer id="footer">
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; <strong><span>BioRand</span></strong> 2022-2023 &bullet; licensed under MIT.
      </div>
      <div class="credits">Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a></div>
    </div>
  </footer>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>

  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>
